<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary"><ion-icon name="logo-ionic" color="primary"></ion-icon> Ionic TODO App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary"><ion-icon name="logo-ionic" color="primary"></ion-icon> Ionic TODO App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-toolbar *ngIf="todos.length === 0">
      <ion-title>There are no todo items to show...</ion-title>
    </ion-toolbar>

    <ion-list *ngIf="todos.length !== 0">
      <ion-item *ngFor="let todo of todos">
        <ion-label>{{ todo.title }}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="todo.completed" (click)="onChange(todo, $event)"></ion-checkbox>
        <ion-icon name="create-outline" color="secondary" (click)="editTodo(todo)"></ion-icon>
        <ion-icon name="trash-outline" color="danger" (click)="deleteTodo(todo._id)"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Enter TODO here...</ion-label>
      <ion-input [(ngModel)]="todo.title"></ion-input>
    </ion-item>

    <ion-button color="success" shape="round" size="large" expand="block" fill="outline" (click)="addTodo()" *ngIf="!isEdit">Add</ion-button>
    <ion-button color="primary" shape="round" size="large" expand="block" fill="outline" (click)="updateTodo()" *ngIf="isEdit">Update</ion-button>
  </div>
</ion-content>
